/* css file to make buttons look like material design with javafx properties */

Button {
    -fx-background-color: #00bcd4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 0px;
}

